@font-face {
  font-family: 'inter'; 
  font-weight: normal; 
  font-style: normal;
  src: url('Inter_Regular.ttf') format('truetype');
}
body,html{
    background-color: #D0D1D6;
}
.container-fluid{
    background-color: #D0D1D6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.center-container{
    min-height: 40vh;
    background-color: #D8D9DE;
    z-index: 10;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 3px #FFFFFF);
    transition: all 0.3s ;
}
#mypfp{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.image-container{
    width: 100px;
    height: 100px;
    position: relative;
}
.active-dot{
    background-color: #5DC680;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 5px solid #D8D9DE;
}
.fullname{
    color: black;
    font-family: 'inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
.role{
    color: grey;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
}
.name-container{
    text-align: left;
}
.skill-items{
    display: flex;
    font-family: 'inter', sans-serif;
    padding: 5px 20px;
    background-color: #E3E3E5;
    border-radius: 50px;
    border: 0.5px solid #FFFFFF;
}