@font-face {
  font-family: 'inter'; 
  font-weight: normal; 
  font-style: normal;
  src: url('Inter_Regular.ttf') format('truetype');
}
*{
    
    transition: all 0.2s ;
}
body,html{
    background-color: #D0D1D6;
    user-select: none;
}
.container-fluid{
    background-color: #D0D1D6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.center-container{
    min-height: 40vh;
    background-color: #D8D9DE;
    z-index: 10;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 3px #FFFFFF);
    transition: all 0.3s ;
}
#mypfp{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    user-select: none;
}
.image-container{
    width: 100px;
    height: 100px;
    position: relative;
}
.active-dot{
    background-color: #5DC680;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 5px solid #D8D9DE;
}
.fullname{
    color: black;
    font-family: 'inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
.role{
    color: grey;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
}
.name-container{
    text-align: left;
}
.skill-items{
    display: flex;
    font-family: 'inter', sans-serif;
    padding: 5px 20px;
    background-color: #E3E3E5;
    border-radius: 50px;
    border: 0.5px solid #FFFFFF;
    transition: all 0.2s ;
    cursor: pointer;
    user-select: none;
}
.skill-items:hover{
    background-color: #FFFFFF;
    transition: all 0.2s ;
}
.skill-items-active{
    background-color: #FFFFFF;
}

.title-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    font-weight: 600;
    font-family: 'inter', sans-serif;
}
.about-me-title{
    font-weight: 600;
    font-family: 'inter', sans-serif;
    font-size: 1.05rem;
}
.about-me-text{
    font-weight: normal;
    font-family: 'inter', sans-serif;
    font-size: 0.95rem;
}

.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #D8D9DE;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
